.content-box.about.body {
    width: 48%;
    min-width: 50em;
    flex: none;
    height: 94%;
    margin-top: 3%;
    margin-bottom: 3%;
    overflow-y: scroll;
    margin: auto;
}

.top-content {
    margin-bottom: 0.2em
}

.ui.sub.header.about-sub {
    font-size: 1.5em;
    font-weight: bold;
}

.about-container {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.about-us > h1.ui.header {
    margin-top: 1em;
    font-family: "Arial Black";
}

.about-us > div > img.ui.image {
    width: 35em;
    margin: auto;
}
.about-us > div {
    padding: 0.1em;
    width: 30em;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.frame {
    border: 0.7em solid grey;
    border-left-color: lightgrey;
    border-right-color: lightgrey;
}

.about-us > div > p {
    font-size: 1.6em;
    margin-left: 2em;
    margin-right: 2em;
}

.about-us > p {
    font-size: 1.6em;
    margin-left: 2em;
    margin-right: 2em;
}

.about-us > img.ui.right.floated.image {
    width: 25em;
    margin-right: 2.5em;
}

.ui.segment.about-content {
    margin: auto;
    margin-bottom: 1.5em;
    width: 90%;
}

.ui.segment.about-content > ul {
   text-align: left;
   font-size: 1.3em;
   margin-left: 35%; 
}