.globe {
    width: 63em;
    min-width: 63em;
    height: 63em;
    min-height: 63em;
    margin-top: 1em;
    margin-left: 0.8em;
    overflow: scroll;
}

.globe > .canvas {
    width: 98%;
    height: 98%;
    margin-top: 1%;
    margin-left: 1%;
    background-color: #efeded;
}

.content-box.globe-guide {
    height: 63em;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 1em;
    flex-grow: 1;
    overflow: hidden;
}

.bottom {
    display: flex;
}

.content-box.globe-guide > .bottom {
    width: 100%;
    height: 100%
}

.content-box.globe-guide > .bottom > .forms {
    width: 50%;
    min-width: 20em;
}

.forms > .content-box.header {
    height: 5em;
}

.flexer {
    display: flex;
    width: 100%;
}

.rotation {
    margin: auto;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.forms {
    display: flex;
    flex-flow: column;
    height: 94%;
}

.forms > * {
    flex-grow: 1 auto;
    height: 50%;
}

.form > h3 {
    margin-bottom: 0.1em;
    margin-top: 0.2em
}

.scale-bar {
    display: flex;
    margin: auto;
}

.content-box.globe-guide > .bottom > .guide-segments {
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 94%
}

.top > .content-box.header {
    min-width: 45em
}

.guide-segments > .content-box.body.guide > h1 {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

.guide-segments > .content-box.body.guide > p {
    margin-top: 0.5em;
}

.guide-segments > div {
    height: 33%;
}

.guide-segments > .content-box.body {
    font-size: 1.2em;
    overflow-y: scroll;
    min-width: 13em;
}

.guide-segments > .content-box.body > p {
    margin-top: 0.5em;
    margin-bottom: 0.3em
}

.guide-segments > .content-box.body > h1 {
    margin-top: 0.3em;
}