.weekly {
    width: 70%;
    margin-left: 0.5%;
    margin-right: 1%;
  }
  
  .guide-box {
    width: 28%;
    margin-right: 0.5%;
  }
  
  .content-box {
    background-color: #fbf5f5;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 3px;
    display: flex;
    flex-flow: column;
  }
  
  .content-box.header {
    font-size: 0.8em;
    background-color: #fafafa;
    text-align: center;
    margin: 0.3em;
  }
  
  .content-box.header > * {
    margin-top: 0.1em;
    margin-bottom: 0.2em
  }

  .content-box.form {
    margin: 0.3em;
    background-color: #fafafa;
    text-align: center;
    font-size: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em
  }

  .globe-img-box.content-box.body{
    height: 10em;
    background-color: #ffffff;
  }

  .globe-img-box > img {
    height: 90%;
    width: auto;
    margin: auto;
  }

  .date {
    margin: auto;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  .mag {
    margin: auto;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  button {
    margin: auto;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
  
  .content-box.body {
    font-size: 0.8em;
    background-color: #fafafa;
    text-align: center;
    margin: 0.3em;
    flex: 1 1 auto;
    overflow: hidden;
  }

  .content-box.body.guide {
    font-size: 1.2em;
    overflow: scroll;
  }

  .content-box.body.guide > p {
    margin: 0.5em
  }


  .chart-holder {
      width: 100%;
      height: 33%;
      border-color: lightgray;
      border-width: 1px;
      border-style:solid;
      display: flex;
  }

  .chart-sizer {
      width: 80%;
  }

  .chart-sizer > canvas {
      height: 100%;
  }

  .chart-details {
      width: 18%;
      margin-left: 1%;
      overflow-y: auto;
      overflow-x: hidden
  }

  .overflow-handler {
      width: 100%;
      height: 100%;
      margin-top: 0.8em
  }

  .overflow-handler > * {
   
    max-height: 100%;
    margin: 0.1em;
  }

  .overflow-handler > h3 {
    text-align: center;
    padding-bottom: 0.1em;
    font-size: 1.2em;
}

  .overflow-handler > p {
    text-align: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 0.9em;
  }

  .header {
    text-align: center;
    font-size: 0.8em;
    margin: 0.01em;
  }

  .header > * {
    margin: 0
  }