.profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
}

.profile-map {
    width: 74em;
    min-width: 74em;
    height: 74em;
    margin-right: 0.3em;
    margin-left: 0.3em;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-map > .ui.segment {
    height: 100%;
}

.profile-map > div > .countries-canvas {
    height: 90%;
}

.profile-info {
    flex: auto;
    margin-right: 0.4em;
    min-width: 40em
}

.profile-containers {
    height: 29%;
    overflow-y: scroll;
}
