.content-box.show-page {
    width: 100%;
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.content-box.quake-show {
    border: none;
    height: 100%;
    margin: 0;
    width: 100%;
    display: flex;
}

.quake-show {
    height: 99%;
    margin: 0.5%;
    display: flex;
}

.quake-show.left {
    margin-right: 0;
    width: 60%;
    min-width: 50em;
    display: flex;
    flex-flow: column;
}

.show-segs {
    margin-top: 0;
}

.quake-show.right {
    width: 40%;
    min-width: 30em;
}

.bold-labels > p > label {
    font-weight: bold;
    font-size: 1.1em;
}

.quake-show-header {
    height: 4.5em;
}

.quake-show-map {
    flex: 1 1 auto;
}

.quake-show-comments {
    height: 19em
}

.spacer {
    flex: 1 1 auto;
}