.content-box.show-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.content-box.quake-show {
    border: none;
    height: 100%;
    margin: 0;
    width: 100%;
    display: flex;
}

.quake-show {
    height: 99%;
    margin: 0.5%;
    display: flex;
}

.quake-show.left {
    margin-right: 0;
    width: 60%;
    min-width: 50em;
    display: flex;
    flex-flow: column;
}

.show-segs {
    margin-top: 0;
}

.quake-show.right {
    width: 40%;
    min-width: 30em;
}

.bold-labels > p > label {
    font-weight: bold;
    font-size: 1.1em;
}

.quake-show-header {
    height: 4.5em;
}

.quake-show-map {
    flex: 1 1 auto;
}

.quake-show-comments {
    height: 19em
}

.spacer {
    flex: 1 1 auto;
}

.countries-canvas {
    height: 100%;
    width: 100%;
}

.comment-box.show {
    height: 20em;
    width: 100%;
    position: absolute;
    transition: top .5s;
    top: calc(100% - 20.5em);
    background-color: rgb(150,150,150,0.5);
}

.comment-box {
    height: 20em;
    width: 100%;
    top: 100%;
    position: absolute;
    background-color: rgb(150,150,150,0.3);
    transition: top .5s;
}

.pretty-comment-container {
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-top: 1em;
    background-color: #fff;
}